* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
.title {
  padding: 24px 0;
  text-align: center;
  background-color: limegreen;
  color: white;
}
button {
  display: block;
  margin: 4px;
  padding: 4px;
  border-radius: 2px;
  background-color: white;
  border: 1px solid black;
  font-size: 1.4rem;
  font-weight: bold;
}
img {
  width: 100%;
  border-radius: 8px;
}
figure {
  border-radius: 8px;
  box-shadow: 4px 4px 4px lightgray;
}
.random-load {
  display: flex;
  margin: 32px 0;
  flex-direction: column;
  align-items: center;
}
.random-load h2 {
  padding-bottom: 16px
}
.random-load_container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 200px));
  justify-content: center;
  gap: 18px;
}
.random-load_container figure {
  width: 100%;
  height: min-content;
  display: flex;
  flex-wrap: wrap;
  justify-content: center
}
.upload-file {
  display: flex;
  margin: 32px 0;
  padding: 16px;
  flex-direction: column;
  align-items: center;
  background-color: dimgray;
  color: white;
}
.upload-file h2 {
  padding-bottom: 16px;
}
.favorites { 
  display: flex;
  margin: 32px 0;
  flex-direction: column;
  align-items: center;
}
.favorites h2 {
  padding-bottom: 16px;
}
#favorites__container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 200px));
  justify-content: center;
  gap: 18px;
}
#favorites__container figure {
  height: min-content;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
